body {
    font-family: 'Rubik', sans-serif;
}
.bg-custom {
    background-color: #42ff00;
}
.nav-text {
    font-size: 20px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.divider-vertical {
    width: 1px;
    height: 50px;
    margin: 0 9px;
    overflow: hidden;
    background-color: #ffffff;
    border-right: 1px solid #ffffff;
}
.content {
    // border: 1px solid red;
    position: relative;
    top: 100px;
    padding: 1% 1% 1% 1%;
}
.table-line {
    border-bottom: 1px solid black;
}
